<%- include ("./partials/header.ejs") %>

<div class="ui main container segment">
    <div class="ui huge header">Edit <%= blog.title %> </div>

    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
        <div class="field">
            <label for="Title"></label>
            <input type="text" name="blog[title]" value="<%= blog.title %>" id="">

        </div>

        <div class="field">
            <label for="Image"></label>
            <input type="text" name="blog[image]" value="<%= blog.image %> id="">
        </div>
        <div class=" field">
            <label for="Body"></label>
            <textarea name="blog[body]" id="" cols="30" rows="10"><%= blog.body %></textarea>
        </div>
        <input class="ui blue big button" type="submit" value="Submit">
    </form>


</div>